*, *::before, *::after {
    box-sizing: border-box;
}

body{
    background-image: url("./images/background.jpg");
    color: white;
}

/**all things table related**/
table{
    margin-top: 20px;
}
.smallScreenTh {
    display: none;
}

th{
    width: 14%;
    border: 1px solid white;
    color: white;
}

td{
    border: 1px solid white;
    color: black;
}

.rowDays{
    height: 100px;
    padding: 10px;
}

table, .btn-secondary {
    background-color: gray;
}

/**text**/
h2,h1,h6{
    text-align: center;
}
.infoText {
    max-width: 100%;
    padding-bottom: 2em;
}

/**modal related**/
.dinoFactHolder,h5,.noLikes{
    color: black;
}

img,.modal{
    width: 100%;
}

.likedFact {
    margin-bottom: 15%;
}

/**buttons**/
#viewLikes-btn {
    background-color: green;
}
.deleteBtn {
    margin-top: 5px;
}

.btn-outline-success{
    float: right;
    font-size: 13px;
}

/**resources used**/
.linkText{
    color: white;
    text-decoration: none;
}

a:hover{ 
    color: #D8D7D5;
    text-decoration: none;
} 

/**footer**/
footer{
    padding: 20px;
    background-color: gray;
    text-align: center;
}

.contactInfo {
    color: white;
}

.contactInfo:hover {
    color: #D8D7D5;
}

#contactMe{
    padding: 10px;
}

/**only for functionally of advent day by day action**/
.clicked{
    background-color: green;
}

/**media queries**/
@media (max-width: 600px) {
   th {
       display: none;
   }

   .smallScreenTh {
       display: table-cell;
   }

   .modal {
       width: 100%;
   }

   footer {
       width: 100%;
       text-align: center;
   }
}