*{
    box-sizing: border-box;
}

body{
    background-image: url("./images/background.jpg");
    color: white;
}

th{
    border: 1px solid white;
    color: white;
    width: 14%;
}
td{
    border: 1px solid white;
    color: black;
}

.rowDays{
    padding: 10px;
    height: 100px;
}

img{
    width: 400px;
}

table, .btn-secondary {
    background-color: gray;
}

h2,h1,h6{
    text-align: center;
}

.dinoFactHolder,h5{
    color: black;
  
}

.noLikes{
    color: black;
}

.linkText{
    color: white;
    text-decoration: none;
}

a:hover{ 
    color: #D8D7D5;
    text-decoration: none;
} 

.contactInfo {
    color: white;
}

.contactInfo:hover {
    color: #D8D7D5;
}
footer{
    padding: 20px;
    background-color: gray;
    text-align: center;
}
li{
    list-style-position:inside;
}

table{
    margin-top: 20px;
}

#contactMe{
    padding: 10px;
}

.clicked{
    background-color: green;
}

.deleteOne {
    margin-top: 5px;
}

.likedFact {
    margin-bottom: 15%;
}

.btn-outline-success{
    float: right;
    font-size: 13px;
}


@media screen and (max-width: 600px) {
    h2{
        text-align: left;
    }
}